# Sepolia Testnet RPC URL (Infura, Alchemy, QuickNode, or public RPC)
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID

# Deployer Private Key with Sepolia Testnet ETH (DO NOT SHARE OR COMMIT)
PRIVATE_KEY=your_private_key_without_or_with_0x

# Etherscan API Key for automated smart contract verification
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_API_KEY
